﻿
@model IEnumerable<RCEmployees.Services.Common.Domain.Model.CompensationView>
@{
    ViewData["Title"] = "Compensation Dashboard";
    int counter = 0;

}


<h2>Compensation Dashboard</h2>


<div class="panel-info">
    <button type="button" class="btn btn-primary">Salary</button>
    <button type="button" class="btn btn-info" disabled>Benefits</button>
    <button type="button" class="btn btn-success" disabled>Vacation Request</button>
</div>
<br />
<div class="panel-info">
    <div class="row">
        @foreach (var item in Model)
        {
            if (counter != 0 && counter % 3 == 0)
            {
                @:</div>
            @:<div class="row">
            }

            <div class="col-md-4">
                <div class="thumbnail">

                    <div class="caption">
                        <h3 id="thumbnail-label">@item.Name</h3>
                        <p>Employee Id : @item.EmployeeId</p>
                        <p>Total Salary : @string.Format("{0:C}", item.TotalSalary)</p>
                    </div>
                </div>
            </div>

            counter++;
        }
    </div>
</div>


