﻿@using Microsoft.AspNetCore.Identity

<form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm"></form>

@if (User.FindFirst(x => x.Type == "preferred_username") != null)
{
    <li><a>Hello @User.FindFirst(x => x.Type == "preferred_username").Value!</a></li>
    <li>
        <a href="javascript:document.getElementById('logoutForm').submit()">
            Log Out

        </a>
    </li>


}
else
{
    <li>
        <a asp-area="" asp-controller="Account" asp-action="SignIn" class="esh-identity-name esh-identity-name--upper">
            Login
        </a>
    </li>
}
